.header {
	padding: 100px; /* some padding */
	text-align: center; /* center the text */
	background: #4ABDAC; /* LightCyan  background */
	color: White; /* white text color */
}

.header h1 {
	font-size: 40px;
}

.header p {
	font-size: 30px;
}

.description {
	padding-top: 100px;
	text-align: center;
	background: #F7B733;
	color: White;
}

.description h1{
	font-size: 30px;
}

.description p{
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.skills h1{
	padding-top: 30px;
}

.button {
    vertical-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.row_navbar {
	padding-top: 50px;
	padding-bottom: 100px;
}

.contacts {
	background: #DFDCE3;
	text-align: center;
	padding-bottom:10px;
}

.contacts h1{
	font-size: 20px;
}

.contacts p{
	font-size: 15px;
}


/**Vermillion: #FC4A1A – A figure in the foreground is worked into the context, still paying attention to how it complements the overall structure of the design. In fact one might even be able to surmise that the design was down around this figure. 

Sunshine: #F7B733 – The Yellow provides only a juxtaposed call to action and highlights imporant parts

Clean: #DFDCE3 – Clean grey, utilized in the photograph, keeps the structure un-encomberred by more colors or patterns in these sharp headshots.*/
